/* ====================== */
/* base */
/* ====================== */

:root {
	--font-primary: 'Montserrat', sans-serif;
	--color-primary: #0e403d;
	--color-secondary: #81a997;
	--color-tirtiary: rgba(252, 252, 234, 0.53);
	--color-text: rgb(32, 34, 39);
	--color-red: rgb(185, 59, 48);
	--color-green-100: rgb(129, 169, 151);
	--color-black: #000;
	--color-white: #fff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	text-transform: capitalize;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	font-family: var(--font-primary);
	color: var(--color-text);
	line-height: 28px;
	font-weight: 400;
	background-color: rgba(129, 169, 151, 0.17);
}

/* ====================== */
/* hero */
/* ====================== */
.hero-bg {
	height: 38rem;
	width: 100%;
	background-image: url('./../images/hero-img.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: cover;
}

.main {
	margin: -33rem auto 0 auto;
	background-color: rgba(129, 169, 151, 0.08);
	padding: 0 2rem;
	/* background: red; */
	height: auto;
}

/* hero */
.hero {
	padding: 5rem 9.5rem 9.5rem 9.5rem;
	width: 100%;
	background: linear-gradient(45deg, #9c7566, #d1a493, #fedfcb, #fff0d6, #fedfcb, #d1a493, #9c7566);
	position: relative;
}

.hero img {
	height: auto;
}

.hero img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.bg-headline {
	position: relative;
}

.headline-img {
	position: absolute;
	bottom: 0rem;
	left: 0;
	height: 2rem;
	width: 100%;
	z-index: 1;
}

.bottom-line {
	position: relative;
}
.bottom-line span {
	position: relative;
	z-index: 2;
}

/* images */

.right-img {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}
.left-img {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.right-img .img-content {
	width: 37.5rem;
	object-fit: cover;
	margin-right: -10rem;
	transform: rotate(6deg);
	position: relative;
	z-index: 2;
}
.left-img .img-content {
	width: 37.5rem;
	object-fit: cover;
	margin-left: -10rem;
	transform: rotate(6deg);
	position: relative;
	z-index: 2;
}

.text-content {
	position: relative;
	z-index: 5;
}

.img-12,
.img-18 {
	transform: rotate(-1deg) !important;
	margin-left: -4rem !important;
}
.img-14 {
	transform: rotate(-0deg) !important;
	margin-right: 0rem !important;
}

.img-23,
.img-27,
.img-28,
.img-29,
.img-26 {
	transform: rotate(-0deg) !important;
	width: 100% !important;
}

/* section 5 */

.title-card-red {
	border-bottom: 5px solid rgb(203, 137, 132);
	background: linear-gradient(45deg, #b93b30, #7a2d26);
}

/* section 6 */
h2 {
	font-size: 5rem;
}

/* section 8 */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 4rem;
}

.cards-item {
	background-color: var(--color-red);
	background: linear-gradient(45deg, #b93b30, #7a2d26);
	color: var(--color-white);
	padding: 1.5rem;
}

.cards-item h3,
.cards-item .text {
	color: var(--color-white);
}

.cards-item .text {
	font-size: 1.5rem;
}

.cards-item .icon {
	height: 8rem;
	width: 8rem;
	fill: var(--color-white);
	margin: 0;
}

.section-8 .image-area {
	position: relative;
	height: 100%;
	width: 100%;
}
.section-8 .image-area .img-1 {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-1deg);
}
.section-8 .image-area .img-2 {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 20rem;
	width: 20rem;
}

/* section 13 */
.section-13 h2 {
	font-size: 3.4rem;
}

.section-13 .cards-item {
	background-color: transparent;
	padding: 0;
	background: linear-gradient(45deg, #b93b3000, #7a2d2600);
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.section-13 .cards-item img {
	height: 102%;
}

/* section 15 */
.section-15 .title-card,
.section-18 .title-card,
.section-19 .title-card,
.section-20 .title-card,
.section-17 .title-card {
	background: linear-gradient(45deg, #9c7566, #d1a493, #fedfcb, #fff0d6, #fedfcb, #d1a493, #9c7566);
	color: rgb(32, 34, 39);
}

.section-19 .title-card {
	max-width: 65rem;
}

.img-24 {
	width: 40.5rem !important;
	transform: rotate(245deg) !important;
}

/* section 16 */
.section-16 h2 {
	font-size: 3.4rem;
}
.section-16 .left-img {
	grid-template-columns: 1fr 1fr;
}
.section-16 .left-img img {
	margin-left: 0;
}
.section-16 .icon {
	fill: rgb(252, 153, 3);
	margin-top: 1rem;
}

/* section-20 */
.section-20 .right-img {
	gap: 4rem;
	align-items: start;
}
